In [1]:
from sklearn.datasets import load_iris #dataset
from sklearn.tree import DecisionTreeClassifier # ML algorithm  
from sklearn.model_selection import train_test_split #split data

In [2]:
import pandas as pd

iris = load_iris()

type(iris)


#you can convert it to pandas dataframe

iris_data = iris.data # features
iris_label = iris.target #label
iris_df = pd.DataFrame(data = iris_data, columns=iris.feature_names)

iris_df.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [3]:
iris_df['label'] = iris.target
iris_df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [4]:
print(iris.target)
print(iris.target_names)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
['setosa' 'versicolor' 'virginica']

Split dataset

In [5]:
X_train, X_test, y_train, y_test = train_test_split(iris_data, iris_label, test_size=0.3, random_state=12)

Create DecisionTreeClassifier Object

In [6]:
dt_clf = DecisionTreeClassifier(random_state=111)

Learn using train dataset

In [7]:
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=111)

In [8]:
pred = dt_clf.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score
print('Accuracy: {0:.4f}'.format(accuracy_score(y_test,pred)))

Accuracy: 0.9778